@media (max-width: 575.98px) {

    * {
        margin: 0;
        padding: 0;
        font-family: 'Montserrat', sans-serif;
    }

    .main{
        display: block;
        width: auto;
        height: auto;
        justify-content: center;
        align-items: center;
        
    }

    .sidebar {
        margin-top: 35px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 25px;
        width: 450px;
        height: auto;
        border-radius: 5px;
    }

    .logoplace {
        margin-top: 10px;
        width: 50%;
        margin-right: auto;
        margin-left: auto;
        height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .welcome {
        padding: 5px;
    }

    .welcome h2 {
        text-align: center;
        margin-bottom: 15px; 
    }

    .welcome p {
        text-align: left;
        margin-bottom: 15px; 
        margin-left: 5px;
    }

    .skills {
        padding: 5px;
    }

    .skills h3 {
        text-align: center;
    }

    .liststyle{
        padding: 10px;
        margin-left: 40px;
        margin-top: 8px;
    }

    .liststyle li {
        padding-bottom: 5px;
    }
    

    .social {
        padding: 5px;
        text-align: center;
        height: auto;
        margin-top: 350px;
        margin-left: auto;
        margin-right: auto;
    }

    .email{
        padding: 5px;
        margin-top: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .email i {
        margin-right: 15px;
    }

    .links {
       margin-top: 15px;
       display: flex;
       align-items: center;
       justify-content: center;
    }

    .links i {
        color: #000;
        margin-right: 25px;
    }

    /* Right Content config */

    .right-content{
        margin-top: 120px;
        width: 425px;
        height: auto;
        border-radius: 5px;
        flex: 0.8;
        position: absolute;
        top: 550px;
        justify-self: center;
    }

    .right-content h2 {
        text-align: center;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .card-work{
        border-radius: 5px;
        margin: 5% 10%;
        height: 350px;
    }
}

/*Small devices (landscape phones, 576px e maiores)*/
@media (min-width: 576px) and (max-width: 767.98px) {
    * {
        margin: 0;
        padding: 0;
        font-family: 'Montserrat', sans-serif;
    }

    .main{
        display: block;
        width: auto;
        height: auto;
        justify-content: center;
        align-items: center;
        
    }

    .sidebar {
        margin-top: 35px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 25px;
        width: 500px;
        height: auto;
        border-radius: 5px;
    }

    .logoplace {
        margin-top: 10px;
        width: 50%;
        margin-right: auto;
        margin-left: auto;
        height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .welcome {
        padding: 5px;
    }

    .welcome h2 {
        text-align: center;
        margin-bottom: 15px; 
    }

    .welcome p {
        text-align: left;
        margin-bottom: 15px; 
        margin-left: 5px;
    }

    .skills {
        padding: 5px;
    }

    .skills h3 {
        text-align: center;
    }

    .liststyle{
        padding: 10px;
        margin-left: 40px;
        margin-top: 8px;
    }

    .liststyle li {
        padding-bottom: 5px;
    }
    

    .social {
        padding: 5px;
        text-align: center;
        height: auto;
        margin-top: 350px;
        margin-left: auto;
        margin-right: auto;
    }

    .email{
        padding: 5px;
        margin-top: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .email i {
        margin-right: 15px;
    }

    .links {
       margin-top: 15px;
       display: flex;
       align-items: center;
       justify-content: center;
    }

    .links i {
        color: #000;
        margin-right: 25px;
    }

    /* Right Content config */

    .right-content{
        margin-top: 120px;
        width: 500px;
        height: auto;
        border-radius: 5px;
        flex: 0.8;
        position: absolute;
        top: 550px;
        justify-self: center;
    }

    #works{
        margin-left: 13%;
    }

    .right-content h2 {
        text-align: center;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .card-work{
        border-radius: 5px;
        margin: 5% 10%;
        height: 350px;
    }
}

/*Medium devices (tablets, 768px e maiores)*/
@media (min-width: 768px) and (max-width: 991.988px) {
    * {
        margin: 0;
        padding: 0;
        font-family: 'Montserrat', sans-serif;
    }

    .main{
        display: block;
        width: auto;
        height: auto;
        justify-content: center;
        align-items: center;
        
    }

    .sidebar {
        margin-top: 35px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 25px;
        width: 500px;
        height: auto;
        border-radius: 5px;
    }

    .logoplace {
        margin-top: 10px;
        width: 50%;
        margin-right: auto;
        margin-left: auto;
        height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .welcome {
        padding: 5px;
    }

    .welcome h2 {
        text-align: center;
        margin-bottom: 15px; 
    }

    .welcome p {
        text-align: left;
        margin-bottom: 15px; 
        margin-left: 5px;
    }

    .skills {
        padding: 5px;
    }

    .skills h3 {
        text-align: center;
    }

    .liststyle{
        padding: 10px;
        margin-left: 40px;
        margin-top: 8px;
    }

    .liststyle li {
        padding-bottom: 5px;
    }
    

    .social {
        padding: 5px;
        text-align: center;
        height: auto;
        margin-top: 350px;
        margin-left: auto;
        margin-right: auto;
    }

    .email{
        padding: 5px;
        margin-top: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .email i {
        margin-right: 15px;
    }

    .links {
       margin-top: 15px;
       display: flex;
       align-items: center;
       justify-content: center;
    }

    .links i {
        color: #000;
        margin-right: 25px;
    }

    /* Right Content config */

    .right-content{
        margin-top: 120px;
        width: 500px;
        height: auto;
        border-radius: 5px;
        flex: 0.8;
        position: absolute;
        top: 550px;
        justify-self: center;
    }

    #works{
        margin-left: 23.5%;
    }

    .right-content h2 {
        text-align: center;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .card-work{
        border-radius: 5px;
        margin: 5% 10%;
        height: 350px;
    }
}
    
/*Large devices (desktops, 992px e maiores)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
    * {
        margin: 0;
        padding: 0;
        font-family: 'Montserrat', sans-serif;
    }

    .main{
        display: flex;
        width: auto;
        height: auto;
        justify-content: center;
    }

    .sidebar {
        margin-top: 35px;
        margin-left: 50px;
        margin-bottom: 25px;
        width: 500px;
        height: auto;
        border-radius: 5px;
    }

    .logoplace {
        margin-top: 10px;
        width: 50%;
        margin-right: auto;
        margin-left: auto;
        height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .welcome {
        padding: 5px;
    }

    .welcome h2 {
        text-align: center;
        margin-bottom: 15px; 
    }

    .welcome p {
        text-align: left;
        margin-bottom: 15px; 
        margin-left: 5px;
    }

    .skills {
        padding: 5px;
    }

    .skills h3 {
        text-align: center;
    }

    .liststyle{
        padding: 10px;
        margin-left: 40px;
        margin-top: 8px;
    }

    .liststyle li {
        padding-bottom: 5px;
    }
    

    .social {
        padding: 5px;
        text-align: center;
        height: auto;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .email{
        padding: 5px;
        margin-top: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .email i {
        margin-right: 15px;
    }

    .links {
       margin-top: 15px;
       display: flex;
       align-items: center;
       justify-content: center;
    }

    .links i {
        color: #000;
        margin-right: 25px;
    }

    /* Right Content config */

    .right-content{
        margin-top: 120px;
        margin-left: 50px;
        margin-bottom: 25px;
        width: 500px;
        height: auto;
        border-radius: 5px;
        flex: 0.8;
    }

    .right-content h2 {
        text-align: center;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .card-work{
        border-radius: 5px;
        margin: 5% 10%;
        height: 350px;
    }
}

/*Extra large devices (large desktops, 1200px  e maiores)*/
@media (min-width: 1200px) {
    
    * {
        margin: 0;
        padding: 0;
        font-family: 'Montserrat', sans-serif;
    }

    .main{
        display: flex;
        width: auto;
        height: auto;
        justify-content: center;
    }

    .sidebar {
        margin-top: 35px;
        margin-left: 50px;
        margin-bottom: 25px;
        width: 500px;
        height: auto;
        border-radius: 5px;
    }

    .logoplace {
        margin-top: 10px;
        width: 50%;
        margin-right: auto;
        margin-left: auto;
        height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .welcome {
        padding: 5px;
    }

    .welcome h2 {
        text-align: center;
        margin-bottom: 15px; 
    }

    .welcome p {
        text-align: left;
        margin-bottom: 15px; 
        margin-left: 5px;
    }

    .skills {
        padding: 5px;
    }

    .skills h3 {
        text-align: center;
    }

    .liststyle{
        padding: 10px;
        margin-left: 40px;
        margin-top: 8px;
    }

    .liststyle li {
        padding-bottom: 5px;
    }
    

    .social {
        padding: 5px;
        text-align: center;
        height: auto;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .email{
        padding: 5px;
        margin-top: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .email i {
        margin-right: 15px;
    }

    .links {
       margin-top: 15px;
       display: flex;
       align-items: center;
       justify-content: center;
    }

    .links i {
        color: #000;
        margin-right: 25px;
    }

    /* Right Content config */

    .right-content{
        margin-top: 120px;
        margin-left: 50px;
        margin-bottom: 25px;
        width: 500px;
        height: auto;
        border-radius: 5px;
        flex: 0.8;
    }

    .right-content h2 {
        text-align: center;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .card-work{
        border-radius: 5px;
        margin: 5% 10%;
        height: 350px;
    }


}